{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <form
            action="."
            method="POST"
            id="reply_form">
            {% csrf_token %}
            <div class="form-group">
                <div id="test_comment">
                    {{ comment_form.media }}
                    {{ comment_form.content }}
                </div>
            </div>
        </form>
        <button onclick="confirm_submit({{ article_id }}, {{ parent_comment_id }})" class="btn btn-primary">发送</button>
        <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- csrf token -->
        <script src="{% static 'csrf.js' %}"></script>
        <script>
            function confirm_submit(article_id, comment_id){
                // CKEditor 5 automatically syncs content back to the textarea
                // So we can just get the textarea value
                const textarea = document.querySelector('[name="content"]');
                let content = '';
                
                // Try to get CKEditor 5 instance data first
                if (textarea && textarea.ckeditorInstance) {
                    content = textarea.ckeditorInstance.getData();
                } else if (textarea) {
                    // Fallback to textarea value (which should be synced by CKEditor 5)
                    content = textarea.value;
                }
                
                $.ajax({
                    url: '/comment/post-comment/' + article_id + '/' + comment_id + '/',
                    type: "POST",
                    data: {content: content},
                    success: function (e) {
                        if(e === '200 OK') {
                            parent.location.reload();
                        }
                    }
                })
            }
        </script>
        
    </body>
</html>