{% extends 'base.html' %}
{% load static %}
{% block title %}
    网页详情
{% endblock %}
{% load mptt_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
                <div class="col-12 alert alert-primary">
                    <div>
                        作者: {{ article.author }}
                        {% if user == article.author %}
                            . <a href="#" onclick="confirm_delete()">删除</a>
                            . <a href="{% url 'article:article_update' article.id %}">编辑</a>
                            <form style="display:none;"
                                    id="safe_delete"
                                    action="{% url 'article:article_delete' article.id %}"
                                    method="POST">
                                {% csrf_token %}
                                <button type="submit">发送</button>
                            </form>
                        {% endif %}
                    </div>
                    <div>
                        浏览量: {{ article.total_views }}
                    </div>
                </div>
                <div class="col-12" style="word-wrap: break-word;">
                    {{ article.content | safe }}
                </div>
                <div class="mt-4">
                    <button class="btn btn-outline-danger" type="button" onclick="validate_is_like('{% url 'article:increase_likes' article.id %}',{{ article.id }},{{ article.likes }})">
                        <span>点赞</span>
                        <span>
                            <i class="fas fa-heart"></i>
                        </span>
                        <span id="likes_number">
                            {{ article.likes }}
                        </span>
                    </button>
                </div>
                <hr>
                {% if user.is_authenticated %}
                    <div>
                        <form action="{% url 'comment:post_comment' article.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="content">
                                    <strong>
                                        我也要发言：
                                    </strong>
                                </label>
{#                                <textarea#}
{#                                        type="text"#}
{#                                        class="form-control"#}
{#                                        id="content"#}
{#                                        name="content"#}
{#                                        rows="2"></textarea>#}
                                <div>
                                    {{ comment_form.media }}
                                    {{ comment_form.content }}
                                </div>
                            </div>
                            <!-- 提交按钮 -->
                            <button type="submit" class="btn btn-primary mt-2">发送</button>
                        </form>
                    </div>
                    <br>
                {% else %}
                    <br>
                    <h5>
                        请<a href="{% url 'usermanage:login' %}">登录</a>后回复
                    </h5>
                    <br>
                {% endif %}
                <!-- 显示评论 -->
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>
                            <strong style="color: pink">
                                {{ comment.user }}
                            </strong> 于
                            <span style="color: green">
                                {{ comment.created|date:"Y-m-d H:i:s" }}
                            </span> 时说：
                        </p>
                        <pre style="font-family: inherit; font-size: 1em;">{{ comment.content | safe}}</pre>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3 mt-4">
            <h4><strong>目录</strong></h4>
            <hr>
            <div>
                {{ toc | safe }}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // 删除文章的函数
        function confirm_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "确认删除",
                // 正文
                content: "确认删除这篇文章吗？",
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    // 指定应当前往的 url
                    $('form#safe_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
    <script src="{% static 'csrf.js' %}"></script>
    <script>
        function  validate_is_like(url,id,likes) {
            let storage = window.localStorage;
            const storage_str_data = storage.getItem("NCNet_data");
            let storage_json_data = JSON.parse(storage_str_data);
            if (!storage_json_data) {
                storage_json_data = {}
            }
            const status = check_status(storage_json_data,id);
            if (status) {
                layer.msg('已经点过赞了哟~');
                return;
            } else {
                $('span#likes_number').text(likes+1).css('color','#dc3545');
            }
            $.post(
                url,
                {},
                function (result) {
                    if (result==='success') {
                        try {
                            storage_json_data[id] = true;
                        } catch (e) {
                            window.localStorage.clear();
                        }
                        const d = JSON.stringify(storage_json_data)
                        try {
                            storage.setItem("NCNet_data",d);
                        }catch (e) {
                            if (e.code===22) {
                                window.localStorage.clear()
                                storage.setItem("NCNet_data",d);
                            }
                        }
                    } else {
                        layer.msg("与服务器通信失败..过一会儿再试试呗~")
                    }
                }
            )
        }
        function check_status(data,id) {
            try {
                if(id in data && data[id]) {
                    return true;
                }else{
                    return false;
                }
            }catch (e){
                window.localStorage.clear()
                return flase;
            }
        }
    </script>
    <script>
        $(".django-ckeditor-widget").removeAttr('style');
    </script>
{% endblock %}